.searchbar{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    margin: 0 auto 6rem;
}

.input{
    width: 70rem;
    padding: 0.6rem 1rem;
    margin-bottom: 2.2rem;
    border-radius: 1rem;
    border: 1.5px solid #ccc;
    text-align: center;
    font-size: 1.2rem;
}

.input:focus{
    outline: solid 1px #DAAA63;
}

.button {
    padding: 0.6rem 1rem;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
}

.button:hover{
    color: #DAAA63;
}