.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    border-bottom: 3px solid #ddd;
}

.title {
    font-style: italic;
    font-size: 2.5rem;
    font-weight: 700;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    margin: 0 1rem;
    border-radius: 1.2rem;
    cursor: pointer;
    background-color: inherit;
}
