/* [id].module.css */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}
  
.container {
    position: relative;
    width: 70%;
    overflow: hidden;
    z-index: 1;
}
  
.wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
  
.poster {
    width: 100%;
    object-fit: cover;
}
  
.wrapper::before,
.wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(90deg,#14181d 0,rgba(20,24,29,.986) .97%,rgba(20,24,29,.945) 2.07833333%,rgba(20,24,29,.883) 3.29666667%,rgba(20,24,29,.803) 4.60166667%,rgba(20,24,29,.711) 5.96666667%,rgba(20,24,29,.61) 7.365%,rgba(20,24,29,.504) 8.77166667%,rgba(20,24,29,.398) 10.16%,rgba(20,24,29,.296) 11.505%,rgba(20,24,29,.203) 12.78%,rgba(20,24,29,.122) 13.95833333%,rgba(20,24,29,.059) 15.01666667%,rgba(20,24,29,.016) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.016) 84.07166667%,rgba(20,24,29,.059) 84.98333333%,rgba(20,24,29,.122) 86.04166667%,rgba(20,24,29,.203) 87.22%,rgba(20,24,29,.296) 88.495%,rgba(20,24,29,.398) 89.84%,rgba(20,24,29,.504) 91.22833333%,rgba(20,24,29,.61) 92.635%,rgba(20,24,29,.711) 94.03333333%,rgba(20,24,29,.803) 95.39833333%,rgba(20,24,29,.883) 96.70333333%,rgba(20,24,29,.945) 97.92166667%,rgba(20,24,29,.986) 99.03%,#14181d),linear-gradient(0deg,#14181d 0,#14181d 21.48148148%,rgba(20,24,29,.986) 23.63703704%,rgba(20,24,29,.945) 26.1%,rgba(20,24,29,.883) 28.80740741%,rgba(20,24,29,.803) 31.70740741%,rgba(20,24,29,.711) 34.74074074%,rgba(20,24,29,.61) 37.84814815%,rgba(20,24,29,.504) 40.97407407%,rgba(20,24,29,.398) 44.05925926%,rgba(20,24,29,.296) 47.04814815%,rgba(20,24,29,.203) 49.88148148%,rgba(20,24,29,.122) 52.5%,rgba(20,24,29,.059) 54.85185185%,rgba(20,24,29,.016) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
}
  
  
.wrapper::before {
    left: 0;
    width: 100%;
}
  
.wrapper::after {
    right: 0px;
    background: linear-gradient(90deg,#14181d 0,rgba(20,24,29,.986) .97%,rgba(20,24,29,.945) 2.07833333%,rgba(20,24,29,.883) 3.29666667%,rgba(20,24,29,.803) 4.60166667%,rgba(20,24,29,.711) 5.96666667%,rgba(20,24,29,.61) 7.365%,rgba(20,24,29,.504) 8.77166667%,rgba(20,24,29,.398) 10.16%,rgba(20,24,29,.296) 11.505%,rgba(20,24,29,.203) 12.78%,rgba(20,24,29,.122) 13.95833333%,rgba(20,24,29,.059) 15.01666667%,rgba(20,24,29,.016) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.016) 84.07166667%,rgba(20,24,29,.059) 84.98333333%,rgba(20,24,29,.122) 86.04166667%,rgba(20,24,29,.203) 87.22%,rgba(20,24,29,.296) 88.495%,rgba(20,24,29,.398) 89.84%,rgba(20,24,29,.504) 91.22833333%,rgba(20,24,29,.61) 92.635%,rgba(20,24,29,.711) 94.03333333%,rgba(20,24,29,.803) 95.39833333%,rgba(20,24,29,.883) 96.70333333%,rgba(20,24,29,.945) 97.92166667%,rgba(20,24,29,.986) 99.03%,#14181d),linear-gradient(0deg,#14181d 0,#14181d 21.48148148%,rgba(20,24,29,.986) 23.63703704%,rgba(20,24,29,.945) 26.1%,rgba(20,24,29,.883) 28.80740741%,rgba(20,24,29,.803) 31.70740741%,rgba(20,24,29,.711) 34.74074074%,rgba(20,24,29,.61) 37.84814815%,rgba(20,24,29,.504) 40.97407407%,rgba(20,24,29,.398) 44.05925926%,rgba(20,24,29,.296) 47.04814815%,rgba(20,24,29,.203) 49.88148148%,rgba(20,24,29,.122) 52.5%,rgba(20,24,29,.059) 54.85185185%,rgba(20,24,29,.016) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
    width: 100%;
}

.informations {
    display: flex;
    position: absolute;
    z-index: 2;
    top: 25rem;
    width: 60%;
}
  
.image {
  flex-shrink: 0; /* Prevents the image from shrinking */
  width: 30%;
}

.backdrop {
  width: 80%;
  height: 30rem;
  object-fit: contain;
}

.vote {
  padding: 0.5rem 1rem;
  font-size: 1.25em;
  text-transform: uppercase;
  opacity: 0.7;
}

.ratingInput {
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #14181d;
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
}

.ratingLabel {
  margin: 1rem 1rem;
  background-color: #14181d;
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
}

.submitRatingButton {
  margin: 0.2rem 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #14181d;
  color: #fff;
  font-size: 0.7em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
}

.submitRatingButton:hover {
  background-color: #fff;
  color: #14181d;
  opacity: 1;
}

.submittedRating {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  color: #ffea00;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 10rem;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 20rem;
  background-color: #14181d;
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
}

.icon {
  margin-right: 0.5rem;
}

.icon:hover {
  color: #fff;
  opacity: 1;
}

.item {
  margin: 0.5rem 0;
  text-align: justify;
  text-transform: uppercase;
  opacity: 0.7;
}

.item:hover {
  color: #fff;
  opacity: 1;
}

.text {
  width: 70%;
}

.title {
  margin: 0;
  font-size: 2.5em;
}

.details {
  margin: 10px 0; 
  font-size: 1.4em;
  opacity: 0.7; 
}

.category {
  margin: 0.5rem 0;
  font-size: 1em;
  text-align: justify;
  text-transform: uppercase;
  opacity: 0.7;
}

.tagline {
  margin-top: 5rem; 
  font-size: 1.25em; 
  text-align: justify;
  text-transform: uppercase;
  opacity: 0.7;
}
  
.overview {
  margin: 1.5rem 0;
  font-size: 1.25em;
  text-align: justify;
  line-height: 1.7em;
  opacity: 0.7;
}

.subtitle {
  font-size: 1.25em; 
  text-align: justify;
  text-transform: uppercase;
  opacity: 0.7;
}
  
.cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  width: 10rem;
}

.profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin: 0.5rem 0;
  font-size: 1.15em;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.7;
}

.character {
  margin: 0;
  font-size: 1em;
  text-align: center;
  opacity: 0.7;
}

.showMoreButton {
  margin: 1.5rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #14181d;
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
}

.showMoreButton:hover {
  background-color: #fff;
  color: #14181d;
  opacity: 1;
}

.showLessButton {
  margin: 1.5rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #14181d;
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
}

.showLessButton:hover {
  background-color: #fff;
  color: #14181d;
  opacity: 1;
}